.dc-carousel{
    @media screen and (max-width: 840px) {
        display: none;
    }
    &.no_overlay{
        .carousel-item{
            &:before {
                display: none;
            }
        }
    }
    .carousel-item{
        &:before {
            position:absolute;
            content:"";
            background:rgba(21, 21, 21, 0.4);
            width:100%;
            height:100%;
        }
    }
    .carousel-caption {
        h2 {
            font-size: 4em;
            text-align: left;
            font-weight: bold;
        }
    }
}