.single-character{
    &_container{
        margin: 3rem 0;
        .dc-character{
            &_gallery{
                width: 25%;
                float: left;
            }
            &_summary{
                width: 75%;
                float: left;
                padding: 0rem 1rem;
            }
            &_details{
                @media screen and (max-width: 840px) {
                    display: none;
                }
            }
            &_title {
                color: $c3-accent;
                font-weight: bold;
            }
            &_tabs{
                width: 100%;
                float: left;

                .dc-tab-pane {
                    padding: 30px;
                    font-size: 17px;
                }
                
                .nav-item .nav-link {
                    color: $c3-accent;
                    font-weight: bold;
                    i{
                        color: #FF9505;
                    }
                }
            }
            &_meta{
                .tagged_as {
                    font-size: 20px;
                    margin: 13px 0;
                    display: inline-block;
                    font-weight: bold;
                    color: $c3-accent;
                    a {
                        color: #FF9505;
                    }
                }
            }
        }
    }
}