.subnav {
    background: $c4-accent;
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li{
        color: $primary-light;
        padding: 0.5rem 1rem;
        font-size: 19px;
        text-transform: uppercase;
        cursor: pointer;
        a{
            color: #ffffff;
            font-weight: bold;
        }
    }
}