.subnav {
    background: red;
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }
    li{
        padding: 0.5rem 1rem;
        font-size: 19px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
}